.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border: solid 1px rgb(233, 233, 233);
  z-index: 1;
  row-gap: 5em;

  .sectionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 73%;
    flex-grow: 1;
    row-gap: 30px;
    &__profil {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: auto;

      &__description {
        width: 800px;
        height: auto;
        margin: 5px;
        &__name {
          color: #fff;
        }
        &__card {
          background-color: #fff;
          border-radius: 5px;
          padding: 10px;

          &--title {
            font-size: 2em;
            font-weight: 600;
            font-family: "Times New Roman", Times, serif;
          }
          &--text {
            &--catchphrase {
              font-size: 1.5em;
              font-weight: 400;
              font-family: "Lato", sans-serif;
              line-height: 1.5em;
            }

            &--more {
              &--description {
                font-size: 1.5em;
              font-weight: 400;
              font-family: "Lato", sans-serif;
              line-height: 1.5em;
              }
            }
          }
        }
      }
      &__card {
        height: 100%;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 15px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &__projectSection {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      &__white {
        background-color: rgba(240, 240, 240, 0.165);
        backdrop-filter: blur(1px);
        border: 1px solid #fff;
        padding: 10px;
        border-radius: 5px;
        &-projet {
          font-family: "Times New Roman", Times, serif;
          font-size: 4em;
          line-height: 1em;
          background: linear-gradient(
            215deg,
            rgba(24, 237, 109, 1) 0%,
            rgba(120, 14, 205, 1) 43%,
            rgba(218, 0, 255, 1) 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    &__selectedProject {
      &__article {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 20px;
        &--description {
          width: 50%;
          color: #fff;
          backdrop-filter: blur(2px);
          h2 {
            font-family: "eloc";
          }
          p {
            font-family: "Lato", sans-serif;
            font-weight: bold;
          }
        }
        &--image {
          width: 50%;
          position: relative;
          height: 300px;
          overflow: hidden;
          .img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
          }
        }
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: rgb(255, 255, 255);
        }
      }
    }
    &__contact {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 20px;
      &__card {
        background-color: #fff;
        border-radius: 5px;
        width: 250px;

        &--logo,
        &--title,
        &--description {
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          height: 80px;
          width: 100%;

          a,
          p {
            font-family: "Times New Roman", Times, serif;
            font-size: 1.5em;
            line-height: 1em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1650px) {
  .homeContainer {
    .sectionContainer {
      width: 100%;
      &__profil {
        row-gap: 20px;
        &__description {
        }
        &__card {
          height: auto;
        }
      }
      &__projectSection {
        &__white {
          &-projet {
          }
        }
      }
      &__selectedProject {
        &__article {
          &--description {
          }
          &--image {
          }
        }
      }
      &__contact {
        &__card {
          &--logo,
          &--title,
          &--description {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1010px) {
  .homeContainer {
    .sectionContainer {
      &__profil {
        &__description {
        }
        &__card {
        }
      }
      &__projectSection {
        &__white {
          &-projet {
          }
        }
      }
      &__selectedProject {
        &__article {
          &--description {
          }
          &--image {
          }
        }
      }
      &__contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 20px;
        &__card {
          width: 34%;
          &--logo,
          &--title,
          &--description {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .homeContainer {
    .sectionContainer {
      &__profil {
        &__description {
        }
        &__card {
        }
      }
      &__projectSection {
        &__white {
          &-projet {
          }
        }
      }
      &__selectedProject {
        &__article {
          flex-direction: column-reverse;
          &--description {
            width: 80%;
            color: #fff;
            backdrop-filter: blur(2px);
          }
          &--image {
            width: 90%;
            position: relative;
            height: 300px;
            overflow: hidden;
          }
        }
      }
      &__contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 20px;
        &__card {
          width: 250px;

          &--logo,
          &--title,
          &--description {
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .homeContainer {
    .sectionContainer {
      &__profil {
        &__description {
        }
        &__card {
        }
      }
      &__projectSection {
        &__white {
          &-projet {
          }
        }
      }
      &__selectedProject {
        &__article {
          flex-direction: column-reverse;
          &--description {
          }
          &--image {
            width: 100%;
            height: 200px;
          }
        }
      }
      &__contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 20px;
        &__card {
          width: 250px;

          &--logo,
          &--title,
          &--description {
          }
        }
      }
    }
  }
}
